* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    line-height: 1.4;
    background: url(img/boy-swimming.jpeg) center fixed;
}

#wrapper {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: grid;
    grid-template-columns: fit-content(100%) auto;
    grid-template-rows: fit-content(100%) auto fit-content(100%);
}

#stat-display {
    grid-column: 1;
    width: fit-content;
    height: fit-content;
    position: relative;
    margin: 1rem 2rem;
}

ul {
    list-style: none;
    padding-inline-start: 0;
    margin: 0;
}

#stat-display ul {
    position: relative;
    display: flex;  
    z-index: 10;
}

#stat-display li {
    display: block;
    padding: 1.5rem 1rem;
}

.stat-number {
    font-size: 2.5rem;
}

.stat-unit {
    font-size: 1.5rem;
}

#stat-display li:first-child {
    color: #a77ac9;
}

#stat-display li:nth-child(2) {
    color: #bda542;
}

.stat-description {
    color: #fff;
}

#hover-box {
    position: absolute;
    opacity: 0;
    top: 0;
    height: 100%;
    background-color: #72cfe07a;
    border-radius: 10px;
    transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
}
.hover:hover {
    cursor: pointer;
}

h1 {
    font-weight: bold;
    font-size: 3rem;
    grid-column: 2;
    color: #fff;
    text-align: right;
    margin-right: 4rem;
}

#information {
    position: relative;
    grid-column: 2;
    grid-row: 2;
    color: #ddd;
}

#information section {
    position: absolute;
    right: 0;
    left: 20%;
    margin: auto;
    width: fit-content;
    padding: 1rem;
    border: 2px solid #fff;
    background-color: #8282826c;
    opacity: 0;
    /* transition: opacity 0.5s ease-in-out; */
    min-width: 360px
}

#information h2 {
    margin: 0;
    font-size: 2rem;
    width: 100%;
}

#information section p {
    position: relative;
    margin: 0;
}

/* #information section p::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background-color: #ddd;
} */

#information section p {
    border-left: 2px solid #fff;
}

#time-show p, #description-show p {
    padding: 1rem;
}

#medal-show p {
    padding: 0.5rem 1rem;
}

@media (max-width: 1260px) {
    #information h2 {
        font-size: 1.7rem;
    }
}

section#library {
    width: 70%;
    border: unset;
    background-color: unset;
    opacity: 1;
    top: 0;
    bottom: 0;
}

#photos {
    position: relative;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.photo {
    opacity: 0;
    width: 100%;
    transition: opacity 1s ease-in-out;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
  
.photo.active {
    opacity: 1;
}

video {
    width: 100%;
}

button {
    height: 6rem;
    width: 6rem;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    display: block;
    background-color: #18185351;
    color: #eee;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

#back {
    left: 0;
}

#next {
    right: 0;
}

button:hover {
    background-color: #1818539d;
}

button:focus {
    outline-style: none;
}

#navbar {
    padding: 2rem;
    grid-column: 1;
    grid-row: 2;
    color: #fff;
    margin-left: 3rem;
    border: 2px solid #fff;
    background-image: linear-gradient(-135deg, #afafafb4, #afafaf3e);
    width: 25rem;
    height: fit-content;
}

#navbar h2 {
    margin: 0 0 1rem;
}

nav a {
    display: block;
    width: 80%;
    text-decoration: none;
    color: #eee;
    line-height: 4;
    border-left: 2px solid #fff;
    padding-inline-start: 1rem;
}

.focus {
    font-weight: bolder;
    background-color: #7aabc964;
    border-color: #8bbaf8;
}

#footer {
    position: relative;
    z-index: 1;
    grid-row: 3;
    grid-column: 1 / span 2;
    color: #fff;
    text-align: center;
    font-weight: bolder;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

#footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(0deg, #0000009a, #00000000); /* Your desired background color */
    z-index: -1; /* Ensures the background is behind the content */
}

#author {
    grid-column: 2;
}

.author-name {
    text-decoration: underline;
}

#platforms {
    display: flex;
}

.platform {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
}

a.platform {
    font-weight: normal;
    text-decoration: none;
    color: #ddd;
}

a.platform:hover {
    color: #fff;
}

svg {
    width: 2rem;
    height: 2rem;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 5px;
}

#github-logo {
    fill: #222;
}

a.platform:hover #github-logo {
    fill: #000;
}

#linkedin-logo {
    fill:#235797;
}

a.platform:hover #linkedin-logo {
    fill: #2766b1;
}

@media (max-width: 900px) {
    #wrapper {
        height: auto;
        position: static;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #navbar {
        width: 70%
    }

    #information section {
        position: static;
        border: 2px solid #fff;
        background-color: #afafaf6c;
        /* Set opacity: 1 !important to override inline style by the script  */
        opacity: 1 !important; 
        min-width: 360px;
    }

    #photos {
        position: relative;
        margin: auto;
        height: 300px;
        max-width: 360px;
    }

    .photo {
        max-width: 360px;
    }

    h1 {
        margin: 0;
    }

    #navbar {
        margin: 1rem 0 0;
    }

    #information {
        width: 100%
    }

    #footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem 0 0;
        padding: 1rem;
    }

    #information section {
        opacity: 1;
        margin: 2rem auto;
    }

    section#library {
        border: unset;
        background-color: unset;
        opacity: 1;
        height: fit-content;
        margin: 0 auto;
        padding: 0;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 2.5rem;
    }
}